<% provide(:title, "Sign In") %>
<h1>Sign In</h1>
<i>Please sign in to access your features.</i><br/><br/>

<%= form_for(:session, url: sessions_path) do |f| %>

    <%= f.label :username %><br/>
    <%= f.text_field :username %><br/><br/>

    <%= f.label :password %><br/>
    <%= f.password_field :password %><br/><br/>

    <%= f.submit "Sign In" %>

<% end %>
